.pagination{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 6rem;
    & span{
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 20px rgba(0, 0, 0, 0.1);
        display: inline-block;
        text-decoration: none;
        font-size: 12px;
        color: #6a737c;
        margin-right: 5px;
        padding: 6px 8px;
        border: 1px solid white;//#d6d9dc;
        text-align: center; 
        transition:all ease-in-out .1s;

        &.dots{
            border:none;
            box-shadow: none;
        }

        &.active{
            color:white;
            background:#4fd5d6;
            border: 1px solid #4fd5d6;
        }

        &:not(.dots):hover{
            color:white;
            background:#4fd5d6;
            border: 1px solid #4fd5d6;
        }
    }
}