body { 
    background:white 
};

.main-content{
    min-height: 100vh;
    padding-top: 70px;//50px;
    color:black;
    background: white;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}
