$color-primary: #4fd5d6;
$color-primary--dark: darken($color-primary,20%);
$color-primary--light: lighten($color-primary,20%);
$color-secondary: #21242e;
$color-secondary-light: lighten(#21242e, 10%);